# Gitignore file
# This file manages all the files that are ignored by git.
# Here you can find files like output files, modules and private data.
# Make sure to update this when adding items that require private (e.g. .env files)

# Best Practices
.env
.env.*
!.env.example
!.env.test

(ignore)*

# Backend Specifics
apps/server/data

# Frontend Specifics

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

apps/client/node_modules
apps/client/build
apps/client/package-lock.json
apps/client/.svelte-kit

# Other files
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# System Preferences
.DS_Store
Thumbs.db